
body {
  font-family: sans-serif;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #000033, #000066, #000099, #0000cc);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shape {
  width: 20px; 
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  animation: floatAnimation 10s linear infinite;
  opacity: 0.7;
}

.shape:nth-child(1) {
  top: 20%;
  left: 30%;
  animation-duration: 8s;
}

.shape:nth-child(2) {
  top: 60%;
  left: 80%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.shape:nth-child(3) {
  top: 40%;
  left: 10%;
  animation-duration: 15s;
  animation-delay: 5s;
}

.shape:nth-child(4) {
  top: 80%;
  left: 50%;
  animation-duration: 10s;
  animation-delay: 3s;
}



.shape:nth-child(10) {
  top: 10%;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 7s;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-100px) translateX(50px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.star {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  animation: twinkleAnimation 2s ease-in-out infinite alternate;
}

@keyframes twinkleAnimation {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

h1, h2 {
  color: #64b5f6;
  text-align: center;
}


.add-book {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1c313a;
  border-radius: 10px;
}

.add-book input[type="text"],
.add-book input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #29434e;
  background-color: #29434e;
  color: #e0e0e0;
}

.add-book button {
  background-color: #64b5f6;
  color: #111;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.books {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.books input[type="text"],
.books input[type="number"] {
  padding: 8px;
  border: 1px solid #29434e;
  background-color: #29434e;
  color: #e0e0e0;
}

ul {
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 20px auto;
}

li {
  background-color: #1c313a;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.delete-button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #b71c1c;
}


.next-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.next-button button {
  background-color: #29434e;
  color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}